@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; font-family: 'Roboto', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';	content:none;}
table {border-collapse:collapse; border-spacing:0;}


/* common */
a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

/* top-header */
.top-header {
    height: 75px;
    border: 1px solid #e7e7e7;
    position: relative;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.top-header .header-left {
    margin: auto auto 10px 150px;
}

.top-header .header-left h1 {
    color: #000000;
    line-height: 75px;
    float: left;
    font-size: 25px;
}

@media(min-width: 1180px) {
    #sidenav {
        display: none;
    }
}

#content-right > #map-title {
    font-size: 22px;
    margin: 50px;
}

#content-right > .map-wrapper {
    margin: auto auto auto 38px;
}

@media(max-width: 1179px) and (min-width: 0px) {
    #navigation {
        display: none;
    }
    .top-header {
        background-color: #415985;
    }
    #header-title>a {
        color: #FFFFFF;
    }
    .header-right>ul {
        display: none;
    }
    .top-header .header-left {
        margin: auto auto 10px 65px;
    }
    #content-left {
        width: 100%;
        margin-left: 0;
    }
    #content-right {
        width: 100%;
    }
    .slideBtn {
        transition: .5s;
        position: fixed;
        left: 0;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 20px;
        top: 28px;
        left: 10px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #e3e3e3;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
    }
}

.header-right{
    height: 75px;
    margin: auto 150px 10px auto;
}

.header-right .info-link li{
    display: block;
    float: right;
}

.header-right a{
    line-height: 75px;
    color: #000000;
    padding: 0 10px;
    display: block;
}

.header-right .info-link img {
    border-radius: 50%
}

.navigation {
    color: #FFFFFF;
    background-color: #415985;
    position: relative;
    border-bottom: 1px solid #ddd;
    display: block;
    height: 70px;
}

.navigation .navigation-menu {
    display: block;
    margin: 0px auto 10px 150px;
    font-size: 20px;
    padding-top: 25px;
}

.navigation .navigation-menu li{
    display: inline;
    margin: 1em;
}

.content-left {
    height: 100%;
    width: 49%;
    float: left;
}

.content-right {
    height: 100%;
    width: 49%;
    float: right;
}

#corona-status>h3 {
    font-size : 22px;
    font-weight: 600;
    color: #000;
    position: relative;
    width: 100%;
    margin: 40px;
}

#status-list>ul>li {
    display: inline-block;
    list-style-type: none;
    float: left;
    font-size: 20px;
    padding-top: 10px;
}

#status-list>ul>li>div{
    padding-top: 10px;
    /*display: inline-table;
    height: 160px;
    width: 120px;
    padding: 5px 5px;*/
}

.status-title {
    display: table;
    width: 140px;
    height: 85px;
}

.status-title-content{
    display: table-row;
}

.status-title-content>em{
    display: table-cell;
    vertical-align: bottom;
}

.status-number {
    display: table;
    width: 140px;
    height: 52px;
}

.status-change {
    display: table;
    width: 140px;
    height: 40px;
}

#status-list {
    text-align: center;
    margin-left: 35px;
    position: relative;
}

#confirmed {
    background: #2b75e0;
    color: #FFFFFF;
}

#released {
    background: #123a91;
    color: #FFFFFF;
}

#isolated {
    background: #05afc8;
    color: #FFFFFF;
}

#deceased {
    background: #858585;
    color: #FFFFFF;
}

#accumulation {
    font-size: 13px;
}

#quarantine {
    font-size: 13px;
}

.status-number>span {
    display: table-cell;
    vertical-align: middle;
}

#confirm-change, #daily-change, #release-change, #isolate-change, #decease-change {
    font-size: 12.5px;
}

#status-list>.add-sum {
    display: inline;
    position: absolute;
    color: #FFFFFF;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

#status-list>.sum-first {
    left: 136px;
    top: 125px;
}

#status-list>.add-first {
    left: 276px;
    top: 125px;
}

#status-list>.add-second {
    left: 417px;
    top: 125px;
}

#corona-testing {
    float: left;
    position: relative;
    margin: 28px;
    width: 100%;
    padding: 15px;
}

#corona-testing>h3>#testing-title {
    font-size : 22px;
    font-weight: 600;
    color: #000;
}

#corona-testing>#testing-info>div {
    float: left;
    width: 41%;
    height: 200px;
    margin-top: 40px;
}

#corona-testing>#testing-info>#testing-number {
    background-color: #eafeff
}

#corona-testing>#testing-info>#testing-chart {
    background-color: #f2f2f2
}


#corona-testing>#testing-info>#testing-number>ul>li {
    display: inline-block;
    list-style-type: none;
    text-align: cetner;
    padding-top: 10px;
}

#corona-testing>#testing-info>#testing-number>ul>li>div {
    display: table-cell;
}

/** Self Assessment **/
#assessment-main {
    height: 650px;
}

#assessment-main>#question-content {
    height: 30%;
    width: 65%;
    //background-color: #e3e3e3;
    margin: auto auto auto auto;
    //border-bottom: .1px solid #000000;
}

#assessment-main>#question-content>#question-text {
    font-size: 23px;
    padding-top: 10%;
}

#assessment-main>#answer-content {
    height: 30%;
    width: 65%;
    //background-color: red;
    margin: auto auto auto auto;
}

#assessment-main>#answer-content>.container {
    margin-top: 20px;
}

/** Radio Button **/
#assessment-main>#answer-content>div>.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
#assessment-main>#answer-content>div>.container>input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#terms-container {
    margin-top: 2.5%;
    margin-left: 13%;
    width: 70%;
    height: 100%;
}

#terms-container > #terms-title {
    font-size:  30px;
    font-weight: bold;
}

#term-container > #notes {
    margin: 5%;
}

#note-one {
    margin-top: 3%;
}

#note-one > #one-number {
    display: block;
    font-size: 28px;
    margin-bottom: 2%;
    color: #009CDE;
}

#note-one > #one-notice {
    font-size: 20px;
    line-height: 1.5em;
}

#note-two {
    margin-top: 3%;
}

#note-two > #two-number {
    display: block;
    font-size: 28px;
    margin-bottom: 2%;
    color: #009CDE;
}

#note-two > #two-notice {
    font-size: 20px;
    line-height: 1.5em;
}

#terms-btn {
    margin-left: 78%;
    margin-top: 10%;
    line-height: 56px;
    color: #fff;
    background: #0057B8;
    border-radius: 999vw;
    font-size: 18px;
    display: block;
    border: 0;
    width: 224px;
    cursor: pointer;
}

#user-container {
    margin-top: 2.5%;
    margin-left: 30%;
    width: 70%;
    height: 100%;
}

#user-input > form > input[type='text'], input[type='tel'], select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#user-input > form > input[type='submit'] {
  width: 50%;
  background-color: #4c638f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#user-input > form > div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#user-input > form > h2 {
  font-size: 25px;
}

#user-input > form > h3 {
  font-size: 12px;
  width: 50%;
  margin-top: 0.5em;
}