<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
    <table width="60%" style="border:1px solid black;">
        <colgroup>
            <col width="200">
            <col width="200">
            <col width="200">
        </colgroup>
        <thead>
            <tr>
                <td> Sex </td>
                <td> Age Group </td>
                <td> Affiliation </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="sex" required>
                        <option value="1" id="w" name="sex"> Female </option>
                        <option value="0" id="m" name="sex"> Male </option>
                    </select>
                    <!--
                    <label for="w">여자</label><input type="radio" name="sex" value="1" id="w"/>
                    <label for="m">남자</label><input type="radio" name="sex" value="0" id="m"/>
                    -->
                </td>
                <td>
                    <input type="text" name="age" placeholder="Age Group (ex- 30)" required>
                </td>
                <td>
                    <select id="affiliation" required>
                        {%
                            for affiliation in aff_list
                        %}
                        <option name="affiliation" value="{{affiliation[0]}}"> {{affiliation[1]}}  </option>
                        {%
                            endfor
                        %}
                    </select>
                    <!--
                    <input type="text" name="affiliation" placeholder="신분을 입력하세요"/>
                    -->
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align:right;">
                    <input type="button" value="Submit" id="start"/>
                </td>
            </tr>

        </tfoot>
    </table>

    <!--
    <form action="/saveHotspot" method="post">
        <table width="100%" style="display:none;border:1px solid black;" id="formDate">
            <colgroup>
                <col width="400">
            </colgroup>
            <thead>
                <tr>
                    <td> Date </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="date" name="p-date" id="p-date" placeholder="Date (YY-MM-DD)">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <input type="button" value="add-data" id="add-data">
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    -->


    <form action="/saveHotspot" method="post">
    <table width="100%" style="display:none;border:1px solid black;" id="formData">
        <colgroup>
            <col width="100">
            <col width="100">
            <col width="100">
        </colgroup>
        <thead>
            <tr>
                <th colspan="1">
                    Click "Save" to Submit, Click "Add" to Add More Timeline
                    <input type="hidden" id="p_sn" name="p_sn" value=""/>
                </th>
            </tr>
            <tr>
                <th> Date </th>
                <th> Time </th>
                <th> Description </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td><input type="text" name="date[]" placeholder="YY-MM-DD"/> </td> -->
                <td><input type="text" name="time[]" placeholder="YY-MM-DD 00:00:00"/> </td>
                <td><input type="text" name="desc[]" placeholder="Description (ex - Grocery at Commissary)"/> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <input type="button" value="add" id="add"/>
                </td>
                <td>
                    <input type="submit" value="save" id="save"/>
                </td>
            </tr>

        </tfoot>
    </table>
    </form>

    <script>
        $("#start").on('click', function(){
            var params = '';
            var sex = $("#sex").val();
            var age = $("input[name='age']").val();
            var affiliation = $("#affiliation").val();
            params += '&sex='+sex;
            params += '&age='+age;
            params += '&affiliation='+affiliation;
            $.ajax({
                url : '/startHotspot',
                data : params,
                method: 'GET'
            }).done(function(result){
                var p_sn = result['P_SN'];
                $("#formData").show();
                $("#formData").find("#p_sn").val(p_sn);
                $("input[name='age']").attr('disabled', true);
                $("input[name='affiliation']").attr('disabled', true);
                $("input[name='sex']").attr('disabled', true);
            });
        });

        $("#add").on('click', function(){
            var html = '';
            html += '<tr>';
            html += '    <td><input type="text" name="date[]" placeholder="YY-MM-DD"/> </td>';
            html += '    <td><input type="text" name="time[]" placeholder="00:00:00"/> </td>';
            html += '    <td><input type="text" name="desc[]" placeholder="설명을 입력하세요"/> </td>';
            html += '</tr>';
            $("#formData").find("tbody").append(html);
        });

    </script>
</body>

</html>