<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
    <div id="add-container">
        <h3> Add Hotspot </h3>
        <div id="positive-id">
            <input type="text" name="caseNum" id="caseNum" placeholder="COVID-19 Case #" required>
            <select id="sex" required>
                <option value="0" id="m" name="sex"> Male </option>
                <option value="1" id="w" name="sex"> Female </option>
            </select>
            <input type="text" name="age" placeholder="Age Group (ex- 30)" required>
            <select id="area" required>
                <option value="1" name="area"> Area I </option>
                <option value="2" name="area"> Area II </option>
                <option value="3" name="area"> Area III </option>
                <option value="4" name="area"> Area IV </option>
            </select>
            <select id="affiliation" required>
                {%
                    for affiliation in aff_list
                %}
                <option name="affiliation" value="{{affiliation[0]}}"> {{affiliation[1]}} </option>
                {%
                    endfor
                %}
            </select>
            <input type="button" value="Submit" id="start">
        </div>

        <form action="/saveHotspot" method="post">
            <div id="formData" style="display:none;">
                <input type="hidden" id="p_sn" name="p_sn" value="" />
                <span> * Click "Save" to Submit, Click "Add" to Add More Timeline </span>
                <div id="addSchedule">
                    <div id="add-input">
                        <input type="text" name="time[]" placeholder="YY-MM-DD 00:00:00" />
                        <input type="text" name="desc[]" placeholder="Description (ex - Grocery at Commissary)" />
                    </div>
                </div>
                <div id="add-buttons">
                    <input type="button" value="Add" id="add" />
                    <input type="submit" value="Save" id="save" />
                </div>
            </div>
        </form>
    </div>

    <script>
        $("#start").on('click', function(){
            var params = '';
            var caseNum = $('#caseNum').val();
            var sex = $("#sex").val();
            var age = $("input[name='age']").val();
            var affiliation = $("#affiliation").val();
            var area = $("#area").val();

            params += '&caseNum='+caseNum;
            params += '&sex='+sex;
            params += '&age='+age;
            params += '&area='+area;
            params += '&affiliation='+affiliation;
            $.ajax({
                url : '/startHotspot',
                data : params,
                method: 'GET'
            }).done(function(result){
                var p_sn = result['P_SN'];
                $("#formData").show();
                $("#formData").find("#p_sn").val(p_sn);

                $("input[name='caseNum']").attr('disabled', true);
                $("input[name='age']").attr('disabled', true);
                $("input[name='area']").attr('disabled', true);
                $("input[name='affiliation']").attr('disabled', true);
                $("input[name='sex']").attr('disabled', true);
            });
        });

        $("#add").on('click', function(){
            var html = '';
            html += '<div id="add-input">';
            html += '    <input type="text" name="time[]" placeholder="YY-MM-DD 00:00:00" /> ';
            html += '    <input type="text" name="desc[]" placeholder="Description (ex - Grocery at Commissary)" /> ';
            html += '</div>';
            $("#formData").find("#addSchedule").append(html);
        });

    </script>
</body>

</html>