<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body id="container">
    <div id="admin-container">
        <span class="admin-title"> Admin Page </span>
        <div class="button-container">
            <input type="button" onclick="location.href='/showAssessment';" class='admin-button' value="Assessment Result"/>
            <input type="button" onclick="location.href='/addHotspot';" class='admin-button' value="Add Hotspot"/>
            <input type="button" onclick="location.href='/editHotspot';" class='admin-button' value="Edit Hotspot"/>
        </div>
    </div>
</body>
<script>
    let password = prompt('Type Password');
    let params = {pw : password};

    
    $.ajax({
        url: '/login',
        method: 'GET',
        data: params
    }).done(function(result){
        if(result.response == 0) {
            $('#container').html('');
        }
    });

</script>
</html>