<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title> Self-Assessment </title>
</head>
<body>
    {% include 'format.html' %}
    <div id="finish-container">
        <span id="finish-instruct">
            Thank you for taking the time to complete the assessment.
        </span>
        <span id="finish-number">
            #{{u_sn}}
        </span>
        <span id="finish-assist">
            Please instruct the Case Number above to the connected COVID-19 Agent to better assist you.
        </span>
        <input type="button" onclick="location.href='/';" id='assessment-finish-btn' value="Home"/>
    </div>
</body>
</html>