<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title> Self-Assessment </title>
</head>
<body>
    {% include 'format.html' %}
    <h1><span>{{q_sn}}</span>{{q_text}}</h1>
    <form action="/startAssessment" method="get">
        <label for="ans_yes">Yes</label>
        <input type="radio" id="ans_yes" name="answer" value="1"/>
        <label for="ans_no">No</label>
        <input type="radio" id="ans_no" name="answer" value="0"/>
        <input type="hidden" value="{{q_sn}}" name="q_sn"/>
        <input type="submit" value="계속하기"/>
    </form>
</body>
</html>


