<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.svg.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> Self-Assessment </title>
</head>
<body>
    {% include 'format.html' %}
    <div id="assessment-main" class="assessment-main">
        <div id="question-content">
            <div id="question-text">
                <span> Have you been within 6 feet of a person with a lab-confirmed case of COVID-19 for at
                    least 5 minutes, or had direct contact with their mucus or saliva, in the past 14 days? </span>
                <input type="hidden" name="question_number">
            </div>
        </div>
        <div id="answer-content">
            <div id="answer-yes">
                <label class="container">
                    <span class="answer-type"> Yes </span>
                    <input type="radio" name="answer">
                    <input type="hidden">
                    <span class="checkmark"></span>
                </label>
                <label class="container">
                    <span class="answer-type"> No </span>
                    <input type="radio" name="answer">
                    <input type="hidden">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div id="page-button">
        </div>
    </div>
</body>
<script>
</script>
</html>