<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title> Change Password </title>
</head>
<body class="change-pw">
    <h3> Change Password </h3>
    <div id="change-container">
        <div id="current-pw-container">
            <input type="hidden" value="{{password}}" id="current-pw-val">
            <input type="password" placeholder="Current Password" id="current-pw">
            <input type="button"  id="current-btn" value="Next" >
        </div>
        <div id="change-pw-container" style="display:none;">
            <form action="/changePW" method="get">
                <input type="password" placeholder="Enter New Password" name="change-pw">
                <input type="password" placeholder="Re-Enter New Password" name="re-change-pw">
                <input type="submit" id="submit-btn" value="Submit">
            </form>
        </div>
    </div>
</body>
<script>
    let currentPWH = $('#current-pw-val').val();
    let currentPW = $('#current-pw').val();


    $('#current-btn').on('click', function(){
        if(currentPWH == currentPW) {
            $('#change-pw-container').style='';
        } else {
            alert('Password Not Match!');
            $('#change-pw-container').style='';
        }
    });
</script>
</html>