<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title> Hotspots </title>
</head>
<body>
    {% include 'format.html' %}

    <div class="positive" data-sn="1">
        <div class="positive-info">
            <span class="positive-title-num">
            Positive Case #1
            </span>
            <div class="positive-id">
                <span> Sex : Male | </span>
                <span> Age Group : 20 | </span>
                <span> Affiliation : U.S. Military </span>
            </div>
        </div>
        <div class="hotspots" style="display:none;">
            <div class="hotspots-day">
                <span class="hotspots-date"> 2020-04-28 </span>
                <div class="hotspots-desc">
                    <div>
                        <span> 12:00:00 </span>
                        <span> Home </span>
                    </div>
                    <div>
                        <span> 13:00:00 </span>
                        <span> Gym </span>
                    </div>
                </div>
            </div>
            <div class="hotspots-day">
                <span class="hotspots-date"> 2020-04-29 </span>
                <div class="hotspots-desc">
                    <div>
                        <span> 09:00:00 </span>
                        <span> Starbucks </span>
                    </div>
                    <div>
                        <span> 13:00:00 </span>
                        <span> Gym </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="positive" data-sn="1">
        <div class="positive-info">
            <span class="positive-title-num">
            Positive Case #2
            </span>
            <div class="positive-id">
                <span> Sex : Female | </span>
                <span> Age Group : 20 | </span>
                <span> Affiliation : ROK Military </span>
            </div>
        </div>
        <div class="hotspots" style="display:none;">
            <div class="hotspots-day">
                <span class="hotspots-date"> 2020-04-28 </span>
                <div class="hotspots-desc">
                    <div>
                        <span> 12:00:00 </span>
                        <span> Home </span>
                    </div>
                    <div>
                        <span> 13:00:00 </span>
                        <span> Gym </span>
                    </div>
                </div>
            </div>
            <div class="hotspots-day">
                <span class="hotspots-date"> 2020-04-29 </span>
                <div class="hotspots-desc">
                    <div>
                        <span> 09:00:00 </span>
                        <span> Starbucks </span>
                    </div>
                    <div>
                        <span> 13:00:00 </span>
                        <span> Gym </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $(document).on('click', '.positive-info', function(){
        $(this).parent().find(".hotspots").toggle();
    });

</script>
</html>


