<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
    <div id="map">
    </div>
</body>
<script>
    getCurrentDate = function(){
        var now = new Date();
        var y = now.getFullYear();
        var m = now.getMonth() + 1;
        var d = now.getDate();

        m = m < 10 ? '0'+m : ''+m;
        d = d < 10 ? '0'+d : ''+d;
        return y+'-'+m'-'+d;

    }

    $.ajax({
        url : '/getSVG',
        method : 'GET'
    }).done(function(html){
        $('#map').html(html);
    });

    $.ajax({
        url : '/getLiveNumber',
        method : 'GET',
        data : {date : now}
    }).done(function(json){
        console.log(json);
    });

</script>
</html>

